/* Existing styles */
:root {
  --header-footer-bg: #121212;
  --dark-bg: #161616;
  --light-bg: #FFFFFF;
  --primary-color: #FF4500;
  --text-dark: #FFFFFF;
  --text-light: #000000;
  --light-subheading: #595959;
  --dark-subheading: #A1A1A1;
}

body {
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
  font-family: Arial, sans-serif;
}

body.light-mode {
  background-color: var(--light-bg);
  color: var(--text-light);
}

body.light-mode .article-content .subheading {
  color: var(--light-subheading);
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--text-dark);
}

body.dark-mode .article-content .subheading {
  color: var(--dark-subheading);
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.header, .footer {
  background-color: var(--header-footer-bg);
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar button i {
  margin-right: 0.5rem;
}

.navbar button:hover {
  background-color: var (--text-dark);
  color: var(--dark-bg);
}

.hero {
  text-align: center;
  padding: 6rem 2rem;
  height: 100%;
  background: url('./assets/latvijas_universitate.jpg') no-repeat 55% 36%;
  color: var(--text-dark);
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity to your preference */
}

.hero h1, .hero p {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.section {
  padding: 40px 20px;
  text-align: center;
}

.section:nth-child(even) {
  background-color: #f5f5f5;
}

.cta-button {
  background-color: var(--dark-bg);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.cta-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.75s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.cta-button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.cta-button:hover {
  background-color: var(--primary-color);
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 24px;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #f5f5f5;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.social-icons a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.75s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.social-icons a:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.social-icons a:hover {
  color: white;
  background-color: var(--primary-color);
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.section.dark {
  background-color: #333;
  color: white;
}

.section.dark .cta-button {
  background-color: #444;
  color: white;
}

.section.dark .cta-button:hover {
  background-color: #555;
}

.social-icons a.dark {
  background-color: #444;
}

.social-icons a.dark:hover {
  background-color: #555;
}

h2 {
  font-size: 2rem;
}

.footer {
  /* background-color: var(--dark-bg); */
  padding: 1rem;
  color: var (--text-dark);
  text-align: center;
}

/* ArticlePage.css */

.article-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}

.site-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var (--text-dark);
}

.nav-links a {
  text-decoration: none;
  margin-right: 1rem;
  font-weight: bold;
}

.mode-toggle {
  background: none;
  border: 1px solid var (--text-dark);
  padding: 0.5rem 1rem;
  color: var (--text-dark);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.mode-toggle i {
  margin-right: 0.5rem;
}

.mode-toggle:hover {
  background-color: var (--text-dark);
  color: var (--dark-bg);
}

.article-content {
  padding: 1rem;
  text-align: center;
  color: var(--text-color);
}

.article-content .subheading {
  font-size: 1.25rem;
  color: #A1A1A1;
  margin-bottom: 2rem;
}

.article-content .article-image,
.article-content .article-detail-image {
  width: 100%;
  max-height: 45em;
  object-fit: cover;
  height: auto; /* Ensure images maintain their aspect ratio and cover the container */
  margin-bottom: 1.5rem;
  border-radius: 0.9em; /* Keep the border-radius if needed */
}

.about-image {
  width: 100%;
  max-width: 400px; /* Limit the width for larger screens */
  height: auto;
  object-fit: cover;
  border-radius: 1em; /* Optional, for rounded corners */
  margin: 0 auto; /* Center the image */
}

.article-body {
  margin: 0 auto;
  max-width: 45%;
}

.article-body p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: left;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .nav-link, .navbar button {
    width: 100%;
    text-align: left;
    border-radius: 0em;
    padding: 1rem;
  }

  .article-content {
    padding: 0.5rem;
  }

  .article-body {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .article-page {
    max-width: 100%;
    padding: 0.5em;
  }

  .article-content .article-image,
  .article-content .article-detail-image {
    height: auto;
  }

  .footer p {
    font-size: 0.9rem;
  }
}

/* Header.css */

.header {
  background-color: var(--header-footer-bg);
  padding: 1rem;
  position: relative; /* Ensure the header has a positioning context */
  color: white; /* Always white text in header */
}

.footer {
  background-color: var(--header-footer-bg);
  padding: 1rem;
  text-align: center;
  color: white; /* Always white text in footer */
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white; /* Ensure the menu toggle icon is white */
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5em;
  transition: transform 0.3s ease-in-out;
}

.nav-link {
  color: var(--text-dark);
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.nav-link.active {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.navbar button {
  background: none;
  border: 1px solid var(--text-dark);
  border-radius: 0.5em;
  padding: 0.5rem 1rem;
  color: var(--text-dark);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.navbar button i {
  margin-right: 0.5rem;
}

.navbar button:hover {
  background-color: var(--text-dark);
  color: var(--dark-bg);
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--header-footer-bg);
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    transform: translateY(-100%);
    display: none;
    z-index: 1000; /* Ensure it overlays other content */
  }

  .nav-links.open {
    display: flex;
    transform: translateY(0);
  }

  .article-body {
    max-width: 100%;
  }
}
