/* App.css */

:root {
  --header-footer-bg: #121212;
  --dark-bg: #161616;
  --light-bg: #FFFFFF;
  --primary-color: #FF4500;
  --text-dark: #FFFFFF;
  --text-light: #000000;
  --light-subheading: #595959;
  --dark-subheading: #A1A1A1;
}

body {
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
  font-family: Arial, sans-serif;
}

body.light-mode {
  background-color: var(--light-bg);
  color: var(--text-light);
}

body.light-mode .article-content .subheading {
  color: var(--light-subheading);
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--text-dark);
}

body.dark-mode .article-content .subheading {
  color: var(--dark-subheading);
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  /* height: 100%; */
}

.header, .footer {
  background-color: var(--header-footer-bg);
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5em;
}

.nav-link {
  color: var(--text-dark);
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.nav-link.active {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.navbar button {
  background: none;
  border: 1px solid var(--text-dark);
  border-radius: 0.5em;
  padding: 0.5rem 1rem;
  color: var(--text-dark);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.navbar button i {
  margin-right: 0.5rem;
}

.navbar button:hover {
  background-color: var(--text-dark);
  color: var(--dark-bg);
}

.hero {
  text-align: center;
  padding: 6rem 2rem;
  height: 100%;
  background: url('./assets/Latvijas_Universitāte.JPG') no-repeat center center/cover;
  color: var(--text-dark);
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity to your preference */
}

.hero h1, .hero p {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: var(--primary-color);
  color: var(--text-dark);
  font-weight: bolder;
  border-radius: 0.5em;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  z-index: 1;
}

.cta-button:hover {
  background-color: var(--primary-color);
}

.features {
  padding: 2rem;
  text-align: center;
  background-color: var(--section-bg);
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  justify-content: center;
  gap: 20px; /* Adjust the gap between cards */
}

.feature-card {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: transform 0.3s;
  background-color: var(--card-bg);
  color: var(--card-text);
  text-decoration: none;
}

.feature-card:hover {
  transform: translateY(-10px);
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2rem;
  background-color: var(--section-bg);
  color: var(--text-color);
  height: 80.4vh;
}

h2 {
  font-size: 2rem;
}

.about p {
  max-width: 570px;
  text-align: left;
}

.footer {
  /* background-color: var(--dark-bg); */
  padding: 1rem;
  color: var(--text-dark);
  text-align: center;
}

.social-icons a {
  color: var(--text-dark);
  text-decoration: none;
  margin: 0 0.5rem;
}

body.light-mode .feature-card,
body.light-mode .about {
  --section-bg: #f4f4f4;
  --card-bg: var(--light-bg);
  --card-text: var(--text-light);
  --text-color: var(--text-light);
}

body.dark-mode .feature-card,
body.dark-mode .about {
  --section-bg: #1f1f1f;
  --card-bg: #333;
  --card-text: var(--text-dark);
  --text-color: var(--text-dark);
}

/* ArticlePage.css */

.article-page {
  max-width: 50%;
  margin: 0 auto;
  padding: 0.7em;
}

.site-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-dark);
}

.nav-links a {
  text-decoration: none;
  margin-right: 1rem;
  font-weight: bold;
}

.mode-toggle {
  background: none;
  border: 1px solid var(--text-dark);
  padding: 0.5rem 1rem;
  color: var(--text-dark);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.mode-toggle i {
  margin-right: 0.5rem;
}

.mode-toggle:hover {
  background-color: var(--text-dark);
  color: var(--dark-bg);
}

.article-content {
  padding: 2rem 0;
}

.article-content .subheading {
  font-size: 1.25rem;
  color: #A1A1A1;
  margin-bottom: 2rem;
}

.article-content .article-image,
.article-content .article-detail-image {
  width: 100%;
  height: 750px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure images maintain their aspect ratio and cover the container */
  margin-bottom: 1.5rem;
  border-radius: 0.9em; /* Keep the border-radius if needed */
}

.about-image {
  object-fit: contain;
  border-radius: 1em; /* Keep the border-radius if needed */
  -webkit-user-drag: none;
}

.article-body p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: left;
}
